<ion-content [fullscreen]="true" color="success">

  <div align="center" class="div-img">
    <img src="../../assets/img/logo.png" alt="" align="center">
  </div>

  <div align="center" class="h1Tittle">
    <h1>Solicitar um técnico</h1>
  </div>

  <ion-card class="card">
    <ion-card-header align="center">
    </ion-card-header>

    <ion-card-content>
      <div class="form" align="center">
        <h2 class="titleInput" align="left">Nome</h2>
        <div align="center">
          <ion-input label-placement="floating" fill="outline" placeholder="Enter text" required></ion-input>
        </div>
        
        <h2 class="titleInput" align="left">Data e hora da visita</h2>
        <div align="center">
          <ion-input label-placement="floating" fill="outline" placeholder="Enter text" required></ion-input>
        </div>
        
        <h2 class="titleInput" align="left">Endereço</h2>
        <div align="center">
          <ion-input label-placement="floating" fill="outline" placeholder="Enter text"required></ion-input>
        </div>
        
        <h2 class="titleInput" align="left">Descrição do problema</h2>
        <div align="center">
          <ion-input label-placement="floating" fill="outline" placeholder="Enter text"required class="inputDescricao"></ion-input>
        </div>
      
        <div align="center" class="button">
          <ion-button expand="full" shape="round" color="warning">Solicitar</ion-button>
        </div>
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>