<ion-content [fullscreen]="true" color="success">

  <div align="center" class="div-img">
    <img src="../../assets/img/logo.png" alt="" align="center">
  </div>
  

  <ion-card class="card">
    <ion-card-header align="center">
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="form">
        <h2 class="titleInput">CPF</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <h2 class="titleInput">Senha</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        <div align="center" class="button">
        <ion-button expand="full" shape="round" color="warning">Entrar</ion-button>
        </div>

        <div align="center" class="divNovo">
          <h3>Novo por aqui? <a href="/tabs/tab3">Clique aqui</a></h3>
        </div>
      </div>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
