<ion-content [fullscreen]="true" color="success">

  <div align="center" class="div-img">
    <img src="../../assets/img/logo.png" alt="" align="center">
  </div>
  


  <div class="container">
    <img id="image" src="../../assets/img/banner.png">
    <label id="texto">Precisando de um técnico?<br>
    Está no Lugar Certo</label>
  </div>

  <div class="textoInicial">
    <img src="../../assets/pngtree-straight-black-thin-line-png-image_2319184-removebg-preview.png" alt="">
    <h1>Consulte ja algum de nossos serviços</h1>
  </div>

  <div class="servicos">
    <div class="cards">
      <ion-card class="cardServicos">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      
        <ion-card-content>
          clique aqui
        </ion-card-content>
      </ion-card>
      <ion-card class="cardServicos">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      
        <ion-card-content>
          clique aqui
        </ion-card-content>
      </ion-card>
    </div>
    <div class="cards">
      <ion-card class="cardServicos">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      
        <ion-card-content>
          clique aqui
        </ion-card-content>
      </ion-card>
      <ion-card class="cardServicos">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      
        <ion-card-content>
          clique aqui
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
